@model Course

@{
    ViewData["Title"] = "Delete course from cart";
}
<body style="background-image: url('https://wallpapercave.com/wp/wp2308537.jpg');">
    <div class="row text">
        <div class="col-md-8 offset-2">
            <p>
                <h1 style="text-align: center;">Delete @Model.Title</h1>
            </p>
            <div class="row">
                <div class="col-md-8 offset-2">
                    <div class="form-group text-center">
                        <img id="Image" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input type="url" asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateCreated" class="control-label"></label>
                        <input asp-for="DateCreated" class="form-control" />
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-end" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>